<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header>
    <section class ="logoBusquedaParrafo">
    <section class="logoBusqueda">
    <img id="logo" src="./images/logo-mercado-liebre.svg" alt="">

    <p id="barraBusqueda">Busca el producto deseado <button class="botonBusqueda"><i class="fas fa-search-dollar"></i></button></p > 
    </section>
    <p><i class="fas fa-money-bill"></i>Compra en cuotas y sin tarjeta de crédito</p>
    </section>
    

    <nav>
      <ul type="none">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul type="none">
        <li><a href="register">Crea tu cuenta <i class="fas fa-user-circle"></i></a></li>
        <li><a href="login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-bag"></i></i></a></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>


  </header>
  <main>

    <section class="banner">
      <img src="./images/img-home-banner.jpg" alt="banner">

    </section>
    <h3>Basado en tu última visita</h3>
    <section class="visita">
      
      <article>
        <img src="./images/img-cafetera-moulinex.jpg" alt="">
        <div>
          <i class="fas fa-truck"></i>
          <div class="renglonPrecioDescuento">
          <p class="precio">$6.770</p>
          <p class="descuentos">40% off</p>
        </div>
          <h4 class="descripcion">Cafetera Moulinex</h4>
        </div>
      </article>

      <article>
        <img src="./images/img-macbook-pro-2019.jpg" alt="">
        <div>
          <i class="fas fa-truck"></i>
          <div class="renglonPrecioDescuento">
          <p class="precio">$230.000</p>
          <p class="descuentos">20% off</p>
        </div>
      </div>
          <h4 class="descripcion">MacBook Pro 2019</h4>
        </div>
      </article>

      <article>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
        <div>
          <i class="fas fa-truck"></i>
          <div class="renglonPrecioDescuento">
          <p class="precio">$70.500</p>
          <p class="descuentos">10% off</p>
        </div>
          <h4 class="descripcion">Samsung Galaxy S10</h4>
        </div>
      </article>

      <article>
        <img src="./images/img-tv-samsung-smart.jpg" alt="">
        <div>
          <i class="fas fa-truck"></i>
          <div class="renglonPrecioDescuento">
          <p class="precio">$23.200</p>
          <p class="descuentos">5% off</p>
        </div>
          <h4 class="descripcion">SmartTV Samsung 43"</h4>
        </div>
      </article>

    </section>
    <h3>Sección de ofertas</h3>
    <section class="ofertas">
    
    
      <article>
        <img src="./images/img-cafetera-moulinex.jpg" alt="">
        <div>
          <i class="fas fa-truck"></i>
          <div class="renglonPrecioDescuento">
          <p class="precio">$6.770</p>
          <p class="descuentos">40% off</p>
        </div>
          <h4 class="descripcion">Cafetera Moulinex</h4>
        </div>
      </article>

      <article>
        <img src="./images/img-macbook-pro-2019.jpg" alt="">
        <div>
          <i class="fas fa-truck"></i>
          <div class="renglonPrecioDescuento">
          <p class="precio">$230.000</p>
          <p class="descuentos">20% off</p>
        </div>
          <h4 class="descripcion">MacBook Pro 2019</h4>
        </div>
      </article>

      <article>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
        <div>
          <i class="fas fa-truck"></i>
          <div class="renglonPrecioDescuento">
          <p class="precio">$70.500</p>
          <p class="descuentos">10% off</p>
        </div>
          <h4 class="descripcion">Samsung Galaxy S10</h4>
        </div>
      </article>

      <article>
        <img src="./images/img-tv-samsung-smart.jpg" alt="">
        <div>
          <i class="fas fa-truck"></i>
          <div class="renglonPrecioDescuento">
          <p class="precio">$23.200</p>
          <p class="descuentos">5% off</p>
        </div>
          <h4 class="descripcion">SmartTV Samsung 43"</h4>
        </div>
      </article>

    </section>

  </main>
  <footer>
    <section>
      <i class="fas fa-credit-card"></i>
      <h4>
        Paga con tarjeta o en efectivo
      </h4>
      <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
      <i class="fas fa-gift"></i>
      <h4>
        Envío gratis desde $ 2.500
      </h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
      <i class="fas fa-user-shield"></i>
      <h4>
        Seguridad, de principio a fin
      </h4>
      <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </section>
    <section>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
</body>

</html>