<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <section class="logoBusquedaParrafo">
            <section class="logoBusqueda">
                <img id="logo" src="./images/logo-mercado-liebre.svg" alt="">

                <p id="barraBusqueda">Busca el producto deseado <button class="botonBusqueda"><i
                            class="fas fa-search-dollar"></i></button></p>
            </section>
            <p><i class="fas fa-money-bill"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </section>


        <nav>
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul type="none">
                <li><a href="register">Crea tu cuenta <i class="fas fa-user-circle"></i></a></li>
                <li><a href="login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-bag"></i></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


    </header>
    <main>
        <form action="" method="">
            <div>
                <label for="nombreDeUsuario">Nombre de usuario</label><input name="nombreDeUsuario" type="text"
                    placeholder="Nombre de usuario" required>
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>

            <div>
                <button type="submit">Acceder</button>
            </div>

            <div>
                <button><a href="home">Volver a la página principal</a></button>
            </div>
        </form>

    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>
                Paga con tarjeta o en efectivo
            </h4>
            <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>